# Swap / temporary files for vi and emacs.
*.swp
*~
*#
.#*
\#*

# Compiled Python files.
*.pyc
*.pyo

# LaTeX intermediate files.
*.aux
*.bbl
*.idx
*.ind
*.lof
*.toc

# Binary files generated during build.
*.o
*.d
*.bin
*.map
*.out
*.hex

*.pdf

# Linux executables
apps/bounce1/bounce1
apps/bounce2/bounce2
apps/bounce3/bounce3
apps/bounce4/bounce4
apps/bounce5/bounce5
apps/chooser/chooser
apps/demo1/demo1
apps/demo2/demo2
apps/fonttest1/fonttest1
apps/hello1/hello1
apps/hello2/hello2
apps/hello3/hello3
apps/hello4/hello4
apps/hello5/hello5
apps/ir_grab1/ir_grab1
apps/ir_grab2/ir_grab2
apps/ir_grab3/ir_grab3
apps/ir_serial_test1/ir_serial_test1
apps/ir_serial_test2/ir_serial_test2
apps/ir_serial_test3/ir_serial_test3
apps/ir_uart_test1/ir_uart_test1
apps/ir_uart_test2/ir_uart_test2
apps/ir_uart_test3/ir_uart_test3
apps/led0/led0
apps/led1/led1
apps/led2/led2
apps/led3/led3
apps/led4/led4
apps/led5/led5
apps/pio1/pio1
apps/pio2/pio2
apps/pio3/pio3
apps/scribble1/scribble1
apps/snake1/snake1
apps/space10/space10
apps/space11/space11
apps/space12/space12
apps/space9/space9
apps/spacey_remote1/spacey_remote1
apps/squeak0/squeak0
apps/squeak1/squeak1
apps/squeak2/squeak2
apps/squeak3/squeak3
apps/squeak4/squeak4
apps/steer1/steer1
apps/stopwatch1/stopwatch1
apps/task1/task1
apps/task2/task2
apps/tdmdemo1/tdmdemo1
apps/tdmdemo2/tdmdemo2
apps/updown1/updown1
apps/updown2/updown2


